<%+header%>

<script type="text/javascript">//<![CDATA[

	function gotopath(obj, isBack, event){
		isBack = isBack || false;
		if (typeof event !== "undefined") {
			if (e.keyCode !== 13) {
		        return;
		    } else {
				parentFolder = obj.value;		    	
		    }
		}
		var parentFolder = (document.getElementById("currentpath").value === "/") ? "" : document.getElementById("currentpath").value;
		var path = ((!isBack) ? parentFolder+"/" : "")+obj.getAttribute("data-path");
		update_list(path);
	}

	var iwxhr = new XHR();

	function update_list(path) {
		path = path || "/";
		
		iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_list")%>', {path:path},
			function(x, ifc){
				var filenames=ifc;
				
				var r = path.split("/"); r.pop(); 
				var parentFolder = r.join("/");

				var listFiles="<table class='cbi-section-table'><tbody>";
				if (path !== "/") {
					listFiles+="<tr><td onclick=\"gotopath(this, true)\" data-path='"+parentFolder+"'>..</td><td></td><td></td><td></td></td><td></td><td></td></tr>";
				}
				if (filenames != null) {
					for (i = 0; i < filenames.length; i++) {
						var line = filenames[i];
						if (line != '') {
							var f = line.match(/(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+([\S\s]+)/);
							var o = {
								filename: f[9],
								perms: f[1],
								isDir: (f[1][0] === 'd'),
								isLink: (f[1][0] === 'l'),
								res: (f[1][0] === 'l')? (f[9]).split(' -> ')[1] : f[9],
								date: f[7]+' '+f[6]+' '+f[8],
								size:f[5],
								owner: f[3],
							};
							var icon = '<img src="/luci-static/resources/cbi/'+((o.isDir)? "folder.gif" : ((o.isLink)? "link.gif" : "file.gif"))+'">';
							listFiles += "<tr>"+
								"<td style='width:50%;' onclick='gotopath(this)' data-path=\""+o.res+"\">"+icon+"<strong>"+o.filename+"</strong><td>"+
								"<td style='text-align:right;'>"+o.owner+"</td>"+
								"<td style='text-align:right;'>"+o.date+"</td>"+
								"<td style='text-align:right;'>"+o.size+"</td>"+
								"<td style='text-align:right;'>"+o.perms+"</td>"+
								"</tr>";
						}
					}					
				}
				listFiles += "</table>";
				document.getElementById("list").innerHTML=listFiles;
			}
		);
		document.getElementById("currentpath").value = (path === "") ? "" : path;
		return false;
	};
//]]></script>

<style>
#currentpath {
	margin: 20px 0;
}
table strong {
	padding-left: 8px;
}
table tr td:hover {
	cursor:pointer;
}

</style>

<h2><a id="content" name="content">File browser</a></h2>
<input type="text" id="currentpath" onkeypress="gotopath(this)" style="width:100%;" value="/"/>
<div><p><strong>Files list:</strong></p></div>
<div id="list"></div>
<script>
update_list(null);
</script>

<%+footer%>
