<%+header%>

<script type="text/javascript">//<![CDATA[

	String.prototype.replaceAll = function(search, replacement) {
	    var target = this;
	    return target.replace(new RegExp(search, 'g'), replacement);
	};

	function changePath(e) {		
		var path = document.getElementById("currentpath").value;
		path = path.replace("//", "/");
		document.getElementById("currentpath").value = path;
		openpath(null, path);
	}

    function removePath(path, isDir) {
        var currpath = document.getElementById("currentpath").value;
        var c = confirm('Are you sure to remove '+path+' ?');
        if (c) {
            iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_delete")%>', {
                path:path,
                isdir:isDir
            },function(x, ifc){
                update_list(currpath);
            });
        }
    }

    function renamePath(filepath, filename) {
        var currpath = document.getElementById("currentpath").value;
        var newname = prompt('Insert new name:', filename);
        if (newname) {
            var newpath = currpath+'/'+newname;
            newpath = newpath.replace("//", "/");
            iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_rename")%>', {
                filepath: filepath,
                newpath: newpath
            },function(x, ifc){
                update_list(currpath);
            });
        }
    }

	function gotopath(obj, isBack, event){
		isBack = isBack || false;
		if (typeof event !== "undefined") {
			if (e.keyCode !== 13) {
		        return;
		    } else {
				parentFolder = obj.value;		    	
		    }
		}
		//document.getElementById("currentpath").value = obj.getAttribute("data-path");	
		var parentFolder = (document.getElementById("currentpath").value === "/") ? "" : document.getElementById("currentpath").value;
		var path = ((!isBack) ? parentFolder+"/" : "")+obj.getAttribute("data-path")
	
		path = path.replace("//", "/");
		
		update_list(path);
	}

	var iwxhr = new XHR();

	function openpath(obj, path) {
		var filename = null;
		if (path) {
			var pathspl = path.split('/');
			if (pathspl.length) {
				filename = pathspl[pathspl.length-2];
			}
		}
		path = path || obj.getAttribute("data-path").replaceAll(' ', '\\ ');
		filename = filename || obj.getAttribute("data-filename");
		
		iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_open")%>', {
			path:path,
			filename:filename,
		},function(x, ifc){});
	}

	function update_list(path) {		
		path = path || "/";
        document.getElementById("list").style.opacity=0.5;
        document.getElementById("list").style.pointerEvents='none';
		iwxhr.get('<%=luci.dispatcher.build_url("admin", "system", "filebrowser_list")%>', {path:path},
			function(x, ifc){
				var filenames=ifc;
				
				var r = path.split("/"); r.pop(); 
				var parentFolder = r.join("/");

				var listFiles="<table id=\"filebrowser-table\" class=\"cbi-section-table\"><tbody>";
				if (path !== "/") {
					listFiles+="<tr><td colspan=\"5\" onclick=\"gotopath(this, true)\" data-path='"+parentFolder+"'>..</td></tr>";
				}
				if (filenames != null) {
					for (var i = 0; i < filenames.length; i++) {
						var line = filenames[i];
						if (line != '') {
							var f = line.match(/(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+(\S+)\s+([\S\s]+)/);
							var o = {
								filename: f[9],
								fullpath : path+'/'+f[9],
								perms: f[1],
								isDir: (f[1][0] === 'd'),
								isLink: (f[1][0] === 'l'),
								isFile: (f[1][0] !== 'd' && f[1][0] !== 'l'),
								res: (f[1][0] === 'l')? (f[9]).split(' -> ')[1] : f[9],
								date: f[7]+' '+f[6]+' '+f[8],
								size:f[5],
								owner: f[3],
								icon: (f[1][0] === 'd') ? "folder.gif" : ((f[1][0] === 'l')? "link.gif" : "file.gif"),
								onclick: (f[1][0] === 'd') ? "gotopath(this)" : "openpath(this)",
								encoded_path: encodeURIComponent((path+'/'+f[9]).replaceAll('/', '<>')),
								encoded_filename: encodeURIComponent((f[9]).replaceAll('/', '<>'))
							};
							o.openLink = '<%=luci.dispatcher.build_url("admin", "system", "filebrowser_open")%>/'+o.encoded_path+'/'+o.encoded_filename;
                            o.removeLink = (!o.link) ? '<a class="file-op btn show-on-hover" onclick="removePath(\''+o.fullpath+'\',\''+o.isDir+'\');">Delete</a>' : '';
                            o.renameLink = (!o.link) ? '<a class="file-op btn show-on-hover" onclick="renamePath(\''+o.fullpath+'\',\''+o.filename+'\');">Rename</a>' : '';

                            var icon = '<img src="/luci-static/resources/cbi/'+o.icon+'">';

							listFiles += '<tr draggable="true">'+
								'<td class="file-cell" style="width:55%;" onclick="'+o.onclick+'" '+
									'data-path="'+((o.isDir) ? o.res : o.fullpath)+'" '+
									'data-filename="'+o.filename+'" >'+
									icon+
									((o.isFile) ? '<a href="'+o.openLink+'" target="_blank"><strong style="color:#404040;">'+o.filename+'</strong></a>'
									: '<strong style="color:#404040;">'+o.filename+'</strong>')+
                                '<div class="file-ops">'+o.renameLink+o.removeLink+'</div>'+
								'</td>'+
								'<td style="text-align:right;">'+o.owner+'</td>'+
								'<td style="text-align:right;">'+o.date+'</td>'+
								'<td style="text-align:right;">'+o.size+'</td>'+
								'<td style="text-align:right;">'+o.perms+'</td>'+
                            '</tr>';
						}
					}					
				}
				listFiles += "</table>";
				document.getElementById("list").innerHTML=listFiles;
                document.getElementById("list").style.pointerEvents='auto';
                document.getElementById("list").style.opacity=1;
			}
		)
		window.history.pushState(null, null, '?path='+path+'');
		document.getElementById("currentpath").value = (path === "") ? "" : path;
		return false;
	};
//]]></script>

<style>
#currentpath {
	margin: 20px 0;
}
table strong {
	padding-left: 8px;
}
table tr td:hover {
	cursor:pointer;
}
table tr td .show-on-hover {
    display: none;
}
table tr td:hover .show-on-hover {
    display: inline;
}
.file-cell {
    position: relative;
}
.file-ops {
    position: absolute;
    left:100%;
    top:10px;
}
.file-op {
    display: inline;
}

</style>

<h2><a id="content" name="content">File browser</a></h2>
<input type="text" id="currentpath" onkeypress="changePath()" style="width:100%;" value="/"/>
<div><p><strong>Files list:</strong></p></div>
<div id="list"></div>
<script>
var path = null;
if (location.search) {
	var params = (location.search).split('=');
	if (params.length > 0) {
		path = decodeURIComponent((params[1]).replace("\"", ""));
	}
}
update_list(path);
</script>
<%+footer%>
